#homepage_promos {
    background-color: #fff;
    border: 0 none;
    clear: both;
    font-family: Helvetica,Arial,sans-serif;
    height: auto !important;
    margin: 0;
    min-height: 85px;
    min-width: 1000px;
    padding: 10px 0 0;
    position: relative;
}
#homepage_promos:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    position: relative;
    visibility: hidden;
}
#homepage_promos .container {
    padding: 0;
}
#homepage_promos .container:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    position: relative;
    visibility: hidden;
}
#homepage_promos ol {
    border: 0 none;
    display: block;
    float: none;
    list-style: outside none none;
    margin: 0 auto;
    padding: 0;
    position: relative;
}
#homepage_promos li {
    background: url("/promo_bar.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    display: inline;
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
}
#homepage_promos li .bg {
    height: 70px;
    overflow: hidden;
    padding-top: 17px;
    position: relative;
    z-index: 2;
}
#homepage_promos li h4, #homepage_promos li p {
    border: 0 none;
    margin: 0;
    padding: 0;
    position: relative;
}
#homepage_promos li h4 {
    color: #464646;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    margin-bottom: 2.7px;
    text-rendering: optimizelegibility;
}
#homepage_promos li p {
    color: #353535;
    font-size: 13px;
    overflow: visible;
}
#homepage_promos li p.highlighting {
    background: url("/rentreceivereturn_sprites.gif") no-repeat scroll -45px -707px rgba(0, 0, 0, 0);
    display: inline;
    float: left;
    font-size: 11px;
    font-weight: normal;
    margin: -4px 0 0;
    max-width: 144px;
    overflow: visible;
    padding: 2px 9px 0 0;
    width: auto !important;
}
#homepage_promos li.shipping {
    background-position: 10px 20px;
    width: 21%;
}
#homepage_promos li.shipping .bg {
    padding-left: 70px;
}
#homepage_promos li.shipping #shipping_promo_details {
    font-size: 12px;
}
#homepage_promos li.returns {
    background-position: 7px -285px;
    width: 20%;
}
#homepage_promos li.returns .bg {
    padding-left: 57px;
}
#homepage_promos li.notes {
    background-position: 0 -383px;
    width: 21%;
}
#homepage_promos li.notes .bg {
    padding-left: 44px;
}
#homepage_promos li.savings {
    background-position: 0 -892px;
    width: 24%;
}
#homepage_promos li.savings .bg {
    padding-left: 44px;
}
#homepage_promos li.satisfaction {
    background-position: 0 -183px;
    width: 27%;
}
#homepage_promos li.satisfaction .bg {
    overflow: visible;
    padding-left: 43px;
}
#homepage_promos li.current_promo {
    background-position: 0 -83px;
    width: 25%;
}
#homepage_promos li.current_promo h4 {
    margin: -2px 0 0;
}
#homepage_promos li.current_promo p {
    line-height: 16px;
}
#homepage_promos li.current_promo .bg {
    padding-left: 52px;
}
#homepage_promos li.current_promo_stores {
    background-position: -3px -482px;
    float: right;
    width: 25%;
}
#homepage_promos li.current_promo_stores .bg {
    overflow: visible;
    padding-left: 50px;
}